.font {
	COLOR: #ffffff; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt
}
.footer {
	COLOR: #666699; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
.navoff {
	COLOR: #ffffff; CURSOR: hand; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; FONT-WEIGHT: normal
}
.navactive {
	BACKGROUND-COLOR: #cc6600; COLOR: #ffffff; CURSOR: hand; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A:link {
	COLOR: #656565; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A:visited {
	COLOR: #336699; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A:active {
	COLOR: #ff0000; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; TEXT-DECORATION: underline
}
BODY {
	FONT-SIZE: 9pt; SCROLLBAR-FACE-COLOR: #CCCCCC; SCROLLBAR-HIGHLIGHT-COLOR: #e4eaf1; SCROLLBAR-SHADOW-COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #CCCCCC; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #F0F0F0; SCROLLBAR-DARKSHADOW-COLOR: #293863
}
.newshead {
	COLOR: #ff9900; FONT-FAMILY: "宋体"; FONT-SIZE: 9px; FONT-WEIGHT: bold
}
.chinese {
	COLOR: #000000; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt
}
.diaryhead {
	COLOR: #ffffff; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt
}
.articlehead {
	COLOR: #ff6600; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt
}
.download {
	BACKGROUND-COLOR: #e1e1e1; BORDER-BOTTOM: #000000 1px ridge; BORDER-LEFT: #ffffff 1px ridge; BORDER-RIGHT: #333333 1px ridge; BORDER-TOP: #ffffff 1px ridge; COLOR: #000000; CURSOR: auto; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}
SELECT {
	BACKGROUND-COLOR: #f5f5f5; COLOR: #666666; FILTER: Alpha(Opacity=50); FONT-FAMILY: "宋体"; FONT-SIZE: 12px
}
.textarea {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: #b1b8c2 1px solid; BORDER-LEFT: #b1b8c2 1px solid; BORDER-RIGHT: #b1b8c2 1px solid; BORDER-TOP: #b1b8c2 1px solid; COLOR: #085878; FONT-FAMILY: "宋体"; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}
.input {
	BACKGROUND-COLOR: #ffffe4; BORDER-BOTTOM: #f6e971 1px solid; BORDER-LEFT: #f6e971 1px solid; BORDER-RIGHT: #f6e971 1px solid; BORDER-TOP: #f6e971 1px solid; COLOR: #085878; FONT-FAMILY: "宋体"; FONT-SIZE: 12px; HEIGHT: 18px; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}
.button {
	BACKGROUND-COLOR: #f1f1f1; BORDER-BOTTOM: #000000 1px ridge; BORDER-LEFT: #ffffff 1px ridge; BORDER-RIGHT: #333333 1px ridge; BORDER-TOP: #ffffff 1px ridge; COLOR: #000000; CURSOR: hand; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; HEIGHT: 20px; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}
.unnamed1 {
	COLOR: #ff9a00; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt
}
.date {
	COLOR: #c3c3c3; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt
}
