A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #cc6600; FONT: 12px "ו"; TEXT-DECORATION: underline; TEXT-TRANSFORM: none
}
BODY {
	FONT-SIZE: 12pt; SCROLLBAR-FACE-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #ffffff
}
TD {
	FONT-SIZE: 9pt
}
INPUT.buttonface {
	BACKGROUND: #ffffff; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; COLOR: #000000; FONT-FAMILY: "ו"; FONT-SIZE: 12pt; HEIGHT: 18px; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
