BODY {
	SCROLLBAR-FACE-COLOR: #d9d9d9; FONT-SIZE: 9pt; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #d0d2c8; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #808080; FONT-FAMILY: Verdana; SCROLLBAR-DARKSHADOW-COLOR: #000000
}
TABLE {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana
}
A:link {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #0033cc; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
INPUT {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #c0c0c0; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #c0c0c0; PADDING-BOTTOM: 1px; COLOR: #000000; BORDER-TOP-COLOR: #c0c0c0; PADDING-TOP: 1px; HEIGHT: 18px; BACKGROUND-COLOR: #f7f7f7; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #c0c0c0
}
TEXTAREA {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #c0c0c0; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #c0c0c0; COLOR: #000000; BORDER-TOP-COLOR: #c0c0c0; BACKGROUND-COLOR: #f7f7f7; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #c0c0c0
}
SELECT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #c0c0c0; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #c0c0c0; COLOR: #000000; BORDER-TOP-COLOR: #c0c0c0; BACKGROUND-COLOR: #f7f7f7; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #c0c0c0
}
.border-all {
	BORDER-RIGHT: #636563 1px solid; BORDER-TOP: #636563 1px solid; BORDER-LEFT: #636563 1px solid; WIDTH: 758px; BORDER-BOTTOM: #636563 1px solid
}
.border-l-r {
	WIDTH: 758px; BORDER-TOP-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.line-bg-t {
	BACKGROUND-POSITION-Y: top; BACKGROUND-IMAGE: url(images/bg_dian.gif); BACKGROUND-REPEAT: repeat-x
}
.line-bg-b {
	BACKGROUND-POSITION-Y: bottom; BACKGROUND-IMAGE: url(images/bg_dian.gif); BACKGROUND-REPEAT: repeat-x
}
.bigfont {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.menuskin {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(menubg.gif); VISIBILITY: hidden; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; FONT-STYLE: normal; FONT-FAMILY: verdana; POSITION: absolute; BACKGROUND-COLOR: #f6f6f6; FONT-VARIANT: normal
}
.menuskin A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 25px; BEHAVIOR: url(js/noline.htc); COLOR: black; TEXT-DECORATION: none
}
#mouseoverstyle {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 2px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-COLOR: #eeeeee
}
#mouseoverstyle A {
	COLOR: black
}
.menuitems {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 2px; WORD-BREAK: keep-all; PADDING-TOP: 1px; TEXT-DECORATION: none
}
A.nav:link {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
A.nav:visited {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
A.nav:hover {
	FONT-WEIGHT: bold; COLOR: #999999
}
A.menulink:link {
	FONT-SIZE: 8pt; COLOR: #999999; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A.menulink:visited {
	FONT-SIZE: 8pt; COLOR: #999999; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A.menulink:hover {
	FONT-SIZE: 8pt; COLOR: #cc0000; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.8font {
	FONT-SIZE: 8pt; FONT-FAMILY: Tahoma
}
.LM_Top_Title:link {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.LM_Top_Title:active {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.LM_Top_Title:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.LM_Top_Title:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ff0000; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
